@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   scrollbar-gutter: stable;
}

:root,
html,
body {
   scroll-behavior: smooth;
}

html {
   overflow-y: scroll;
   scrollbar-gutter: stable;
}